<%= form_for @search_category do |form| %>
  <% if @search_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search_category.errors.count, "error") %> prohibited this search_category from being saved:</h2>

      <ul>
      <% @search_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </p>
  
  <%= form.fields_for :search_containers  do |builder| %>
    <%= render 'container_fields', f: builder %>
  <% end %>
<% end %>
