  <p class="fields">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
    <%= f.collection_select(:product_id, @products, :id, :title) %>
    <%= f.hidden_field :_destroy %>
    <%= remove_link "remove", "item" %>
  </p>